$black-primary: #000000;
$off-black-primary: #242424;
$blue-primary: #19274B;
$grey-primary: #50514F;
$grey-secondary: #A8A8A8;
$grey-light: #F2F2F2;
$red-primary: #C5283D;
$white-primary: #FFFFFF;
$yellow-primary: #FFBF1A;