@import "colors";
@import "text";
@import "buttons";
@import "utils";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

.content {
    &.flex {
        display: flex;
        &.column {
            flex-direction: column;
        }
        &.row {
            flex-direction: row;
        }
    }
}

.padded-section {
    padding: 50px;
}