
// Headings

.title {
    &-black {
        text-transform: uppercase;
        font-size: 3em;
        color: $black-primary;
    }

    &-blue {
        text-transform: uppercase;
        font-size: 3em;
        color: $blue-primary;
    }

}

.text-grey {
    color: $grey-primary;
}

.no-select {
    /* from https://css-tricks.com/almanac/properties/u/user-select/ */ 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}