@import "../styles/colors.scss";

.about {
    background-image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/canada_htrqbj.png');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-x: right;
    .content {
        padding: 50px 0;
    }
}