@import "../styles/colors.scss";

.footer {
    width: 100%;

    .links {
        padding: 25px 75px;
        display: flex;
        background-color: $off-black-primary;
        color: $white-primary;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .link-group {
            display: flex;
            flex-direction: column;
            margin: 0.5em 0.5em;
            margin-right: auto;
            width: 13em;
            .group-header {
                margin: 0;
                font-weight: 700;
            }
        }
    }

    .footer-link {
        cursor: pointer;
        &:link, &:visited, &:active {
            color: $white-primary;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
    .footer-text {
        &-primary {
            font-weight: 600;
        }
    }

    .banner {
        background-color: $red-primary;
        color: $white-primary;
        padding: 25px 75px;
        text-align: center;
        .divider {
            padding: 0 0.5em;
        }
    }
}