@import "../styles/colors.scss";

.footer {
    width: 100vw;
    .decoration {
        background-image: url('../images/Footer.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 185px;
    }

    .text {
        color: $white-primary;
        background-color: $off-black-primary;
        padding: 50px 75px;
    }
}