@import "../styles/colors.scss";

.card {
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 3em;
    margin: 5px 8px;
    padding: 1em 2em;
    color: $white-primary;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 700px){
        // height: 80vh;
    }

    [class^='past-conf'] {
        font-weight: 900;
        margin: 0;
    }

    .control-icon {
        border-radius: 50%;
        border: 2px solid $white-primary;
        padding: 5px;
        height: 1em;
        width: 1em;
    }

    .past-conf- {
        &name{
            font-size: 2.5em;
        }

        &year {
            font-size: 5.5em;
            line-height: 0.75em;
        }
    }

    &.congress1975 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/congress1975_mpz2o0.png');
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }

    &.congress1994 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/congress1994_f1uhsz.png'), linear-gradient(180deg, $grey-primary 0%, $black-primary 99.99%);
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }

    &.cec2005 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/cec2005_feux4p.png'), linear-gradient(180deg, $grey-primary 0%, $black-primary 99.99%);
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }

    &.congress2016 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/congress2016_ekrztv.png'), linear-gradient(180deg, $grey-primary 0%, $black-primary 99.99%);
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }

    &.cec2017 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/cec2017_alj6qq.png'), linear-gradient(180deg, $grey-primary 0%, $black-primary 99.99%);
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }

    &.cde2020 {
        $image: url('https://res.cloudinary.com/celc/image/upload/q_auto,f_auto/v1641688217/celc2023-static/cde2020_d3v1vp.png'), linear-gradient(180deg, $grey-primary 0%, $black-primary 99.99%);
        background-image: $image;
        &.closed {
            background-image: linear-gradient(0deg, rgba($black-primary, 0.2), rgba($black-primary, 0.2)), $image;
        }
        &.open {
            background-image: linear-gradient(180deg, rgba($black-primary, 0.08) 0%, rgba($black-primary, 0.8) 100%), $image;
        }
    }
}