@import "../styles/colors.scss";

.history {
    background-color: $off-black-primary;
    z-index: 5;
    .title {
        width: 60%;
        font-size: 5rem;
        color: $white-primary;
        line-height: 7rem;
        @media screen and (max-width: 900px){
            font-size: 2rem;
            line-height: 3rem;
            padding-left: 10px;
            padding-right: 10px;
        }
        h2 {
            margin: 0;
            strong {
                color: $yellow-primary;
            }
        }
    }
    .content {
        .slick-slider {
            padding-bottom: 1em;
            .slick-arrow {
                z-index: 5;
                &.slick-prev {
                    left: 6px;
                }
                &.slick-next {
                    right: 6px;
                }
            }
        }
    }
}