@import "../styles/colors.scss";

.how-attend-section {
    &.padded-section {
        padding-top: 5em;
        overflow-y: hidden;
        overflow-x: hidden;
        .title {
            margin-right: 7rem;
        }
        .content {
            margin-right: 5rem;
        }
    }
    .how-attend-band-container {
        position: relative;
        height: 100%;
        width: 100%;
        top: -4em;
        .how-attend-red-band {
            height: 8rem;
            width: 40%;
            top: -4rem;
            right: -6rem;
            border: 2.5rem solid $red-primary;
            position: absolute;
            border-radius: 0 0 0 20rem;
        }
        .how-attend-yellow-band {
            height: 12rem;
            width: 10%;
            top: -4rem;
            right: -6rem; 
            border: 2.5rem solid $yellow-primary;
            position: absolute;
            border-radius: 0 0 0 10rem;
        }
    }
}