@import "../styles/colors.scss";

.mobile-nav-toggle {
    @media screen and (max-width: 800px) {
        display: block;
        background-color: $yellow-primary;
        border-radius: 50%;
        padding: .75rem;
        position: fixed;
        z-index: 9999;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: 0;
    }
    display: none;
   
}

.primary-navigation {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;

    @media screen and (max-width: 800px) {
        
        transform: translateX(100%);
        transition: transform 350ms ease-in;
        inset: 0 0 0 30%;
        background-color: $white-primary;
        &[data-visible="true"] {
            transform: translateX(0%);
        }
    }

    .navigation-bar {
        list-style: none;
        background-color: $white-primary;
        flex-direction: column;
        margin: 0;
        padding: 2em;
        @media screen and (min-width: 800px) {
            height: 30px;
            padding: 20px 15px 15px 15px;
            flex-direction: row; 
            .navbar-link {
                margin: 0 1em;
            }
            .navbar-logo {
                margin-left: auto;
                margin-right: 1em;
            }
            .navbar-lang {
                margin: 0 1em;
            }     
        }

        @media screen and (max-width: 800px) {
            gap: 2em;
        }


        .navbar-link, .navbar-lang {
            a {
                text-decoration: none;
                color: $black-primary;
                font-weight: 700;
                letter-spacing: 0.05em;
                padding: 0 0.2em;
                @media screen and (max-width: 800px) {
                    font-size: 1.5rem;
                }
    
                &:hover {
                    background-color: $blue-primary;
                    color: $white-primary;
                }
            }
        }
        
        .logo-link {
            height: fit-content;
            &:hover {
                background-color: none;
            }
            img {
                height: 85px;
                padding: 0 10px 10px 10px;
                transform: scale(1.4) translateY(2px);
                &:hover {
                    transform: scale(1.5) translateY(2px);
                }
                
            }
        }
        .navbar-lang {
            a {
                text-decoration: underline;
                font-weight: 400;
                padding: 0 0.2em;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}