@import "../styles/colors.scss";

$mobile-nav-breakpoint: 900px;

.mobile-nav-toggle {
    @media screen and (max-width: $mobile-nav-breakpoint) {
        display: block;
        background-color: $yellow-primary;
        border-radius: 50%;
        padding: .75rem;
        position: fixed;
        z-index: 9999;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: 0;
        &:hover {
            cursor: pointer;
            background-color: $off-yellow-primary; 
        }
        >img {
            vertical-align: middle;
        }
    }
    display: none;
}

.primary-navigation {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $mobile-nav-breakpoint) {
        
        transform: translateX(100%);
        transition: transform 350ms ease-in;
        inset: 0 0 0 30%;
        background-color: $white-primary;
        &[data-visible="true"] {
            transform: translateX(0%);
        }
    }

    .navigation-bar {
        list-style: none;
        background-color: $white-primary;
        flex-direction: column;
        margin: 0;
        padding: 2em;
        @media screen and (min-width: $mobile-nav-breakpoint) {
            height: 30px;
            padding: 20px 15px 15px 15px;
            flex-direction: row; 
            .navbar-link {
                margin: 0 1em;
            }
            .navbar-logo {
                margin-left: auto;
                margin-right: 1em;
            }
            .navbar-lang {
                margin: 0 1em;
            }     
        }

        @media screen and (max-width: $mobile-nav-breakpoint) {
            gap: 2em;
        }


        .navbar-link, .navbar-lang {
            a {
                text-decoration: none;
                color: $black-primary;
                font-weight: 700;
                letter-spacing: 0.05em;
                padding: 0 0.2em;
                &::after {
                    content: '';
                    display: block;
                    background-color: $black-primary;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
                @media screen and (max-width: $mobile-nav-breakpoint) {
                    font-size: 1.5rem;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        
        .logo-link {
            height: fit-content;
            &:hover {
                background-color: none;
            }
            img {
                height: 85px;
                padding: 0 10px 10px 10px;
                transform: scale(1.4) translateY(2px);
                &:hover {
                    transform: scale(1.5) translateY(2px);
                }
                
            }
        }
        .navbar-lang {
            a {
                color: $red-primary;
                font-weight: 400;
                padding: 0 0.2em;
                &::after {
                    background-color: $red-primary;
                }
            }
        }
    }
}