@import "../styles/colors.scss";

.past-sponsor {
    background-color: $grey-light;
    .past-sponsor-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        >img {
            height: 100%;
            width: 200px;
            padding: 10px 20px;

            &.td-img {
                width: 100px;
            }
        }
    }
    .more-sponsors {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}