@import "../styles/colors.scss";

.top-area {
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    position: relative;
    .title-image-container {
        position: absolute;
        height: 100vh;
        overflow: hidden;
        width: 100%;
        .image-pane {
            display: inline-flex;
            .title-image-slide {
                width: 100vw;
                height: 900px;
                background-size: cover;
            }
        }
        
    }
    .information-card {
        background-color: $white-primary;
        margin-top: 150px;
        min-height: 30%;
        height: fit-content;
        width: 500px;
        border-radius: 0 105px 105px 0;
        display: flex;
        flex-direction: column;
        padding: 5% 2%;
        z-index: 1;
        @media screen and (max-width: 900px){
            width: 100%;
            border-radius: 0;
            padding: 5% 50px;
            box-sizing: border-box;
        }
        .card {
            &-header {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                h2 {
                   font-weight: 700; 
                   font-size: 2.5rem;
                   color: $blue-primary;
                   line-height: 95%;
                }
                h4 {
                    color: $red-primary;
                    font-weight: 400;
                    font-size: 1.2rem;
                }
                .title-text {
                    margin: 0;
                }
                .title-showcase-text {
                    margin: 0;
                }
            }
    
            &-body {
                display: flex;
                color: $grey-primary;
                margin-bottom: 7%;
                
            }
            &-actions {
                display: flex;
                :not(:first-child) {
                    margin-left: 5%;
                }
                >a {
                    width: 30%;
                    text-align: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    @media screen and (max-width: 900px){
                        width: max-content;
                    }
                }
            }
    
            &-details {
                display: flex;
                flex-direction: column;
                color: $grey-primary;
                margin-top: 7%;
                >p {
                    margin: 0;
                }

                .descriptor {
                    line-height: 1.5em;
                
                    &:before {
                        content: '';
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
                .location::before {
                    
                    width: 1.25em;
                    height: 1.25em;
                    background-image: url('../images/icons/marker.svg');
                    
                }
                .date::before {
                    width: 1.2em;
                    height: 1.2em;
                    background-image: url('../images/icons/calendar.svg');
                }
            }
        }
    
    }
    .location-tag {
        position: absolute;
        bottom: 0;
        right: 15px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 50px;
        color: $blue-primary;
        opacity: 0.85;
    }
}
